@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
/* @import './layout'; */

* {
  box-sizing: border-box;
}

body,
.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/lightpaperfibers.png);
}

button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #08c;
}
button:hover {
  color: #04c;
}

.App {
  display: flex;
}


@media screen and (max-width: 992px) {
  .app-sidebar-header > h1 {
    font-size: 1.1rem;
  }
  .app-sidebar-header > button {
    font-size: 1rem;
  }
  .app-sidebar-note > p {
    font-size: 0.7rem;
  }
  .sidebar-note-title {
    font-size: 0.8rem;
  }
  .note-meta {
    font-size: 0.6rem;
  }
  #title {
    font-size: 1.5rem;
  }
  .preview-title {
    font-size: 1.5rem;
  }
  .markdown-preview {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .app-sidebar-header > h1 {
    font-size: 0.8rem;
    margin-right: 10px;
  }
  .app-sidebar-header > button {
    font-size: 0.8rem;
  }
  .app-sidebar-note > p {
    font-size: 0.6rem;
  }
  .sidebar-note-title {
    font-size: 0.5rem;
  }
  .sidebar-note-title > button {
    margin-left: 12px;
  }
  .note-meta {
    font-size: 0.3rem;
  }
  #title {
    font-size: 1rem;
  }
  .preview-title {
    font-size: 1rem;
  }
  .markdown-preview {
    font-size: 1rem;
  }
}
